<h1>Here are all of your current books</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Stock</th>
  </tr>
  <% for book in @books %>
  <tr>
    <td><a href="/books/<%= book.id %>"><%= book.name %></a></td>
    <td>|</td>
    <td><%= book.stock %></td>
    <td><form class="" action="/book/<%= book.id %>/delete" method="post">
      <input type="submit" value="Delete book">
    </form>
    </td>
  </tr>

  <% end %>

</table>
