@font-face {
  font-family: Bebas;
  src: url(Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Solway;
  src: url(Solway/Solway-Regular.ttf);
}

body{
  background-color: black;
}

th,h3{
  font-family: Bebas;
  color: white;
  font-size: 30px;
}

p,a,td,li,label,input,option{
  font-family: Solway;
  color: white;
  font-size: 20px;
}

.high{
  background-color: green;
}

.low{
  background-color: red;
}


nav{
  justify-content: space-between;
  background-image: url('wood-strip.jpg');
  color: black;
  font-size: 25px;
}

table{
  width:100%;
  border: 5px solid white;
  text-align: center;
}

h1{
  font-size: 50px;
  font-family: Bebas;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.heaing-row::after {
  content: "";
  clear: both;
  display: table;
}
