<form class="" action="/authors" method="post">
  <label for="name">Author name</label>
  <input type="text" name="name" id="name">

  <label for="background">Background</label>
  <input type="text" name="background" id="background">

  <label for="num_of_books">Number of books</label>
  <input min="0" type="number" name="num_of_books" id="num_of_books">
<form/>
